* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-auto-flow: column;
}

#menu {
    background: #303030;
    padding: 2% 7% 2% 4.5%;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#menuLinks a{
    margin-left: 35px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

#menuLinks a:hover {
    color: #CCCCCC;
    transition-duration: 0.5s;
}

#menuButton {
    text-align: right;
}

#menuButton button {
    background: #0C70F2;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    border: none;
    padding: 7px 13px 7px 13px;
    cursor: pointer;
}

.invert {
    background-color: black;
}

#signUpArea {
    text-align: center;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    padding: 100px 0 250px 0;
}

#formTitle {
    font-weight: 800;
    font-size: 80px;
    line-height: 97px;
}

#formText {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin-top: 25px;
}

#signUpForm {
    text-align: left;
    margin-left: 30%;
    margin-top: 190px;
}

.mainLabel {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

.checkLabel {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}

.textInput {
    width: 55%;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 0 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#lastName {
    margin-bottom: 35px;
}

#database {
    margin-bottom: 35px;
}

#signUpButton {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 8px 0 8px 0;
    width: 56.5%;
    background: rgba(12, 112, 242, 0.9);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    border: none;
    margin-top: 80px;
    cursor: pointer;
}

#signUpButton:hover {
    transform: translateY(-7px);
    transition-duration: 0.6s;
    background-color: rgba(65, 141, 241, 0.9);
}

#footer {
    background: #0C70F2;
    justify-content: space-between;
    padding: 45px 80px 70px 70px;
}

#footerLists {
    display: flex;
}

#courses {
    text-align: center;
}

#about {
    text-align: center;
    margin-left: 100px;
}

#info {
    text-align: center;
    margin-top: 130px;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
}

.listTitles {
    background-color: #303030;
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    margin: none;
}



#extraFooter {
    background: #0C70F2;
    text-align: center;
    padding-bottom: 30px;
}


